
@media screen and (min-width: 320px) {  

    #caixa-detalhes {
        margin-top: 3cm;
        border: solid #000 1px;
      }  

    #icon{
        width: 10%;
        margin-left: 10%;
    }  

    .bag-a-bag{
        margin-top: 10px;
        font-size: 10px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin-left: 20%;
    }
    
    .linha-1{
        margin-top: 0.7cm;
        border: solid  #3A5C1D 2.5px;
    }

    .div-1{
        font-size: 10px;
        margin-left: cm;
    }

    #seta1{
        margin-left: 1.5cm;
    }

    .div-2{
        font-size: 10px;
        margin-left: 33%;
        margin-top: -1.2cm;
    }

    #seta2{
        margin-left: 30%;
    }

    .div-3{
        font-size: 10px;
        margin-left: 70%;
        margin-top: -0.8cm;
    }

    .div-4{
        font-size: 10px;
        margin-top: 1cm;
        margin-left: cm;
    }

    #seta3{
        margin-left: 1.6cm;
    }

    .div-5{
        font-size: 10px;
        margin-left: 33%;
        margin-top: -1.2cm;
    }

    #seta4{
        margin-left: 30%;
    }

    .div-6{
        font-size: 10px;
        margin-left: 70%;
        margin-top: -1.2cm;
    }

    .div-7{
        font-size: 10px;

    }

    .div-8{
        font-size: 10px;
        margin-left: 70%;
        margin-top: -6%;
    }

    .div-9{
        font-size: 10px;

        margin-top: 0.5cm;
    }
}
  
@media screen and (min-width: 768px) {
    /* caixa detalhes da passagem */
    #caixa-detalhes {
        margin-top: 10%;
        border: solid #000 1px;
      }  
  
      #icon{
          width: 7%;
          margin-left: 10%;
      }
  
      .bag-a-bag{
          margin-top: 10px;
          font-size: 30px;
          font-family: Verdana, Geneva, Tahoma, sans-serif;
          margin-left: 20%;
      }
      
      .linha-1{
          margin-top: 1cm;
          border: solid  #3A5C1D 2.5px;
      }
  
      .div-1{
          margin-left: 1%;
          font-size: 20px;
      }
  
      #seta1{
          margin-left: 26%;
      }
  
      .div-2{
          font-size: 20px;
          margin-left: 33%;
          margin-top: -2.4cm;
      }
  
      #seta2{
          margin-left: 30%;
      }
  
      .div-3{
          font-size: 20px;
          margin-left: 70%;
          margin-top: -1.7cm;
      }
  
      .div-4{
          font-size: 20px;
          margin-top: 4%;
          margin-left: 1%;
      }
  
      #seta3{
          margin-left: 26%;
      }
  
      .div-5{
          font-size: 20px;
          margin-left: 33%;
          margin-top: -2.4cm;
      }
  
      #seta4{
          margin-left: 30%;
      }
  
      .div-6{
          font-size: 20px;
          margin-left: 70%;
          margin-top: -2.4cm;
      }
  
      .div-7{
          font-size: 20px;

      }
  
      .div-8{
          font-size: 20px;
          margin-left: 70%;
          margin-top: -6%;
      }
  
      .div-9{
          font-size: 20px;

          margin-top: 0.5cm;
      }
 
}
  
@media screen and (min-width: 1024px) {
    /* caixa detalhes da passagem */
    #caixa-detalhes {
      margin-top: 10%;
      border: solid #000 1px;
    }  

    #icon{
        width: 7%;
        margin-left: 10%;
    }

    .bag-a-bag{
        margin-top: 10px;
        font-size: 30px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin-left: 23%;
    }
    
    .linha-1{
        margin-top: 1cm;
        border: solid  #3A5C1D 2.5px;
    }

    .div-1{
        margin-left: 5%;
        font-size: 20px;
    }

    #seta1{
        margin-left: 4cm;
    }

    .div-2{
        font-size: 20px;
        margin-left: 40%;
        margin-top: -2.4cm;
    }

    #seta2{
        margin-left: 5cm;
    }

    .div-3{
        font-size: 20px;
        margin-left: 75%;
        margin-top: -1.7cm;
    }

    .div-4{
        font-size: 20px;
        margin-top: 2cm;
        margin-left: 5%;
    }

    #seta3{
        margin-left: 4cm;
    }

    .div-5{
        font-size: 20px;
        margin-left: 40%;
        margin-top: -2.4cm;
    }

    #seta4{
        margin-left: 5cm;
    }

    .div-6{
        font-size: 20px;
        margin-left: 75%;
        margin-top: -2.4cm;
    }

    .div-7{
        font-size: 20px;
        margin-left: 3%;
        margin-top: 0.5cm;
    }

    .div-8{
        font-size: 20px;
        margin-left: 65%;
        margin-top: -0.8cm;
    }

    .div-9{
        font-size: 20px;
        margin-left: 3%;
        margin-top: 0.5cm;
    }
}