#caixa-form{
    border: solid black 2px;
    background-color: #F5F5F5; 
    margin-bottom: 8%;
    padding: 5%;
    font-family: 'Poppins', sans-serif; 

}
.inputs{
    border: none;
    min-height: 40px;
}
#caixa-text{
    background-color: white; border: solid 1px gray;
}
textarea:focus, input:focus, i:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

#btn-submit{
    background-color: #5C9F24;
    border: solid #5C9F24 2px;
}
#btn-submit:hover{
    background-color: #4f8f1a;
    border: solid #5C9F24 2px;
}

@media screen and (min-width: 320px) {
    #caixa-form{
        margin-top: 30%;
    }
    /* #senha{
        width: 70%;
    } */
}

@media screen and (min-width: 768px) {
    #caixa-form{
        margin-top: 15%;
    }
   
}

@media screen and (min-width: 1024px) {
    #caixa-form{
        margin-top: 10%;
    }
}

/* button::before{
    content: none !important ;
}
i::before{
    content: none ;
} */